{% extends "plantillabaseAdmin.html" %} 
 
{% block body %}



      <main>
        <div>
            <h1 class="text-center mt-5">Inventario de productos</h1>
            <p class="text-center mt-3">En esta sección podrás ver el inventario de tu tienda y administrar tus productos</p>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary"><a class="nav-link text-white" href="{% url 'agregarProducto' %}">Agregar nuevo producto</a></button>
        </div>
          
        <div>
          <div class="mt-5 card-deck d-flex justify-content-around flex-wrap">


      {% for producto in productos %}

      <div class="card col-10 col-md-5 col-lg-3 mb-5 mx-2 producto" id="">
        <img class="card-img-top" src=`{{producto.imagen}}` alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
        </div>
        <h4 class="text-success text-center">${{producto.precio}}</h4>
        <div class="card-footer d-flex justify-content-around">
            
            <button class="btn btn-warning boton-producto">Editar</button>
            <button class="btn btn-danger boton-producto">Eliminar</button>
        </div>
      </div>
    {% endfor%}


          </div>
        </div>
      </main>


    
{% endblock %}