{% extends "plantillabase.html" %} 
 
{% block body %}

       
      <main class="">

        <div class="container">
            <h1 class="text-center pt-5 mb-5">No dudes en consultar</h1>
            <div class="row d-flex justify-content-center justify-content-lg-around">
                
                <div class="col-12 col-lg-5 mb-5">
                    <form class="form">
                        <h2 class="text-center">Inicia sesión</h2>
                        <div class="mb-3">
                            <label for="correoLogin" class="form-label fs-5">Correo electrónico</label>
                            <input type="email" class="form-control" id="correoLogin" placeholder="correo@correo.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="contraLogin" class="form-label fs-5">Contraseña</label>
                            <input type="password" class="form-control" id="contraLogin" rows="3" placeholder="*********" required  >
                        </div>
                        <div class="w-100 d-flex justify-content-center mt-5">
                            <button class="btn btn-primary px-5" id="botonLogin" type="submit">Enviar</button>
                        </div>
                        <div id="mensajeLogin"></div>
                    </form>
                </div>

                <div class="col-12 col-lg-5 mb-5">
                    <form class="form">
                        <h2 class="text-center">Registrate</h2>
                        <div class="mb-3">
                            <label for="nombreRegistro" class="form-label fs-5">Nombre</label>
                            <input type="text" class="form-control" id="nombreRegistro" placeholder="Ingresa tu nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="correoRegistro" class="form-label fs-5">Correo electrónico</label>
                            <input type="email" class="form-control" id="correoRegistro" placeholder="correo@correo.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="contraRegistro" class="form-label fs-5">Contraseña</label>
                            <input type="password" class="form-control" id="contraRegistro" rows="3" placeholder="*********" required>
                            
                        </div>
                        <div class="w-100 d-flex justify-content-center mt-5">
                            <button class="btn btn-primary px-5" id="botonRegistro" type="submit">Enviar</button>
                        </div>
                        <div id="mensajeRegistro"></div>
                    </form>
                </div>
            </div>
            
            </div>



      </main>


      {% endblock %}