{% extends "plantillabase.html" %} 
{% load static %}
{% block body %}

<!--          -->
      <main>
        <div>
            <h1 class="text-center mt-5">Nuestros productos</h1>
        </div>
          
        <div>
          <div class="mt-5 card-deck d-flex justify-content-around flex-wrap">
            {% for producto in productos %}

              <div class="card col-10 col-md-5 col-lg-3 mb-5 mx-2 producto" id="">
                <img class="card-img-top" src={{producto.imagen}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">{{producto.nombre}}</h5>
                  <p class="card-text">{{producto.descripcion}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <h4 class="text-success">${{producto.precio}}</h4>
                    <button class="btn btn-primary boton-producto">Agregar</button>
                </div>
              </div>
            {% endfor%}

          </div>
        </div>
        
      </main>

      {% endblock %}